<div class="container">
  <div class="user-details">
    <h3> Team Members </h3>
    <!-- <p> {{site.user_description}} </p>  -->
    <ul style="list-style-type: none;">
      <li>Danfab</li>
      <li>Dreadino</li>
      <li>Judas</li>
      <li>Kaizen</li>
      <li>Kiny85</li>
      <li>Mestolo</li>
      <li>Mozz</li>
      <li>Padella</li>
      <li>Sedia</li>
      <li>Serranda</li>
      <li>TheSonofGod</li>
    </ul>
    <!-- <div class="row">
      <div class="two columns">
        <div style="
            background-image: url(assets/img/danfab.png);
            display: block;
            background-repeat: no-repeat;
            /*height: 200px;
            width: 200px; */
            height: 100%;
            width: 100%;
            background-position: 50%;
            background-size: 60%;">
            <img src="assets/img/border_crop.png" style="height: 200px;width: 200px;"/>
        </div>
      </div>
      <div class="two columns">
        <h3>Daniele Fabiani</h3>
        <h4>Danfab</h4>
        <h6>Support</h6>
      </div>
      <div class="two columns">
        <div style="
            background-image: url(assets/img/danfab.png);
            display: block;
            background-repeat: no-repeat;
            height: 200px;
            width: 200px;
            background-position: 50%;
            background-size: 60%;">
            <img src="assets/img/border_crop.png" style="height: 200px;width: 200px;"/>
        </div>
      </div>
      <div class="two columns">
        <h3>Daniele Fabiani</h3>
        <h4>Danfab</h4>
        <h6>Support</h6>
      </div>
    </div>
    <table>
      <tr>
        <td>
        <div style="
              background-image: url(assets/img/danfab.png);
              display: block;
              background-repeat: no-repeat;
              height: 200px;
              width: 200px;
              background-position: 50%;
              background-size: 60%;">
          <img src="assets/img/border_crop.png" style="height: 200px;width: 200px;"/>
        </div>

        </td>
        <td>
          Danfab
        </td>
      </tr>
      <tr>
        <td>
          Dreadino
      <tr>
        <td>
          Judas
        </td>
      <tr>
        <td>
          Kiny85
        </td>
      </tr>
      <tr>
        <td>
          Mestolo
        </td>
      </tr>
      <tr>
        <td>
          Mozz
        </td>
      </tr>
      <tr>
        <td>
          Padella
        </td>
      </tr>
      <tr>
        <td>
          Sedia
        </td>
      </tr>
      <tr>
        <td>
          Serranda
        </td>
      </tr>
      <tr>
        <td>
          TheSonofGod
        </td>
      </tr>
      <tr>
        <td>
          Vanensiferum
        </td>
      </tr>
    </table>
  </div> -->
  <!-- <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
  </div>
</div>
